/* .container {
  display: flex;
  align-items: center;
  text-align: center !important;
  background-color: #659dbd;
  min-height: 100% !important;
  width: 100%;
  height: 100%;
}
h1 {
  text-align: center !important;
}
.photobox {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  width: 200px;
  height: 400px;
}

img {
  display: flex;
  align-items: center !important;
} */

/* .ui.img img {
  border: red dashed 25px;
} */
.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: red;
}

.land-box {
  border: red 10px;
  border-bottom: red 10px;
  background-color: black;
  height: 100vh !important;
  width: 100% !important;
}

/* h1 {
  border: black dashed 5px;
  margin-top: 19px;
  text-align: center;
  font-size: 35px;
} */

.photoBox {
  display: flex;
  justify-content: center;
}
